//Importing color pallete's variables
@import "../../ColorTheme.scss";


.general-hover-container {
    margin: 0.4rem;
    height: 100%;
    width: 100%;

    .hover-desc {
      width: 100%;
      display: flex;
      align-content: space-between;
    }

    .authors-container{
      display: flex;
      
      p{
        margin-left: 0.3rem;
      }
    }
  }

  .blue-hover-text{
      color: $primary-blue;
  }

  .white-hover-text{
    color: $primary-white;
  }

  .gray-hover-text{
    color: $secondary-grey;
  }

  .left-gap{
    margin-left: 0.3rem;
  }