/*
  FONTS
*/
@font-face{
    font-family: 'TitlePluton';
    src: url('../../fonts/HVD Fonts - PlutoSansMedium.otf');
  }
  
//Importing color pallete's variables
@import '../../ColorTheme.scss';


.header{
  box-sizing: border-box;
  flex-basis: 5%;
  
  .search-bar {
    font-family: "TitlePluton", Fallback, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-bottom: 1px solid $primary-blue;
    padding-left: 1rem;
    padding-right: 1rem;
    background: $secondary-white;

    p{
      font-size: 1.5rem;
    }
  }
  
  .borderx{
    background: linear-gradient(90deg, rgba(0,0,0,0.0), white), linear-gradient(to bottom, rgb(247, 243, 235) 20%, rgba(68, 68, 68,0.5) 20%, rgba(68, 68, 68, 0.5)  80%, rgb(247, 243, 235) 80%) ;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .user{
    background: $secondary-white;
    height: 99%; /*Used to get the line next to the users container*/
    width: 99%; /*Used to get the line next to the users container*/
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .user-box{
      position: relative;
      display: inline-block;
      align-content: center;
      justify-content: center;
      
      .user-elements{
        display: flex;
        align-content: center;
        justify-content: center;
      }

      
    }

    .user-box:hover{
      padding: 0.3em;
      border: 1px solid $primary-grey;
    }

    #user-name{
      align-self: center;
      font-size: 1rem;
      font-weight: bold;
    }

    i{
      align-self: center;
      font-size: 0.6em;
      padding-left: 0.5em;
      padding-right: 0.5em;
    }

    .profile-container .profile-pic{
      height: 2em;
      width: 2em;
    }

    .profile-pic{
      border: 2px solid $primary-blue;
      border-radius: 50%;
    }
  }
}

/*Style that guarantees dropdown menu*/
.user:hover .ddmenu {
  display: block;
  text-decoration: none;
  list-style-type: none;
}

.ddmenu{
  display: none;
  position: absolute;
  background: $secondary-white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  color: gray;
  ul{
    list-style-type: none;
    button{
      font-weight: bold;
      width: 100%;
      background: none;
      border: none;
    }

    button:hover{
      background: $secondary-dark;
      color: $secondary-white;
    }
  }
}

