//Importing color pallete's variables
@import '../../ColorTheme.scss';

.reservation-container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: $primary-dark-transparent;
    z-index: 200000;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    color: $primary-blue;
    padding: 5%;
    font-size: 30px;
    font-size: 3vw;
}

/*
CONTAINER THAT HOLDS THE RESERVATION FORM
*/
.medium-container{
    border-radius: 30px;
    padding: 0.5rem;
    background: $secondary-white;
    width: 30%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.close-container{
    align-self: flex-end;
    font-size: 2rem;
}

.internal-separator{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.button-container{
    width: 100%;
    flex-basis: 10%;
    display: flex;
    justify-content: center;
}

.form-button{
    height: 100%;
    width: 50%;
    border-radius: 20px;
}