//General layout
$primary-white:rgba(250, 252, 254, 1);
$secondary-white:rgb(247, 243, 235);
$third-white: rgb(240, 240, 240);

$primary-blue:rgb(96, 181, 214);
$primary-blue-transparent: rgba(96, 181, 214, 0.5);
$letters-blue-darker:rgba(47, 151, 242, 1);
$secondary-blue:rgba(47, 151, 242, 1);

$primary-dark:rgba(4, 29, 41, 1);
$primary-dark-transparent:rgba(4, 29, 41, 0.5);
$secondary-dark: rgba(63, 63, 63, 0.9);
$third-dark: rgb(46, 64, 82);

$primary-grey:rgb(160, 158, 153);
$secondary-grey: rgb(110, 109, 105);

$line-gradient: linear-gradient(white 0%,white 10%,black 10%, black 80%,white 80%);

// Color for state mesages
$primary-error: red;
$primary-success: green;

/*:export{
    primary-white: $primary-white;
    secondary-white: $secondary-white;
    third-white: $third-white;

    primary-blue: $primary-blue;
    letters-blue-darker: $letters-blue-darker;
    secondary-blue: $secondary-blue;

    primary-dark: $primary-dark;
    secondary-dark:  $secondary-dark;
    primary-grey: $primary-grey;
    secondary-grey: $secondary-grey;

    line-gradient: $line-gradient;
}*/