//Importing color pallete's variables
@import '../../ColorTheme.scss';

  
  .inputWithIcon {
    position: relative;
  }
  
  .inputNormal{
    width: 10%;
  }

  .inputFull{
    width: 100%;
  }

  input[type="text"], input[type="password"] {
    border: 2px solid $primary-blue;
    border-radius: 40px;
    margin: 8px 0;
    outline: none;
    box-sizing: border-box;
    padding: 8px;
    transition: 0.1s;
    width: 100%;
    font-size: 0.7rem;
  }

  .normal-size{
    height: 2rem;
  }

  input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="email"] {
    border-color: $primary-blue;
    box-shadow: 0 0 8px 0 $primary-blue;
  }

  .inputWithIcon input[type="text"], .inputWithIcon input[type="password"], .inputWithIcon input[type="number"], .inputWithIcon input[type="email"] {
    padding-left: 40px;
  }

  .inputWithIcon input[type="text"]:focus + i, .inputWithIcon input[type="password"]:focus + i, .inputWithIcon input[type="number"]:focus + i, .inputWithIcon input[type="email"]:focus + i  {
    color: $primary-blue;
  }

  .inputWithIcon i {
    position: absolute;
    left: 0;
    top: 8px;
    padding: 9px 8px;
    color: #aaa;
    transition: 0.3s;
  }