
/*
    Pallete color description
*/
:root{
    --primary-background: rgba(211, 227, 226,1);
    --secondary-background: rgba(233, 245, 244, 1);

    --primary-text-font: rgba(119, 150, 148, 1);
    --secondary-text-font: rgba(89, 125, 123, 1);

    --primary-soft-tile: rgba(140, 222, 162, 1);
    --darker-soft-tile: rgba(121, 189, 139, 1);

    --primary-dark-tile: rgba(63, 102, 74, 1);
    --darker-dark-tile: rgba(100, 102, 111, 1);
}

/*
    layout definitions
*/
html, body{
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
}

body{
    display: grid;
    grid-template-rows: 1fr 19fr;
}

header{
    text-align: center;
}

.content{
    display: grid;
    grid-template-rows: 1fr 19fr 1fr;
    background: var(--secondary-background);
    padding-bottom: 0.5rem;
}

.configs{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
}

.tiles-wrapper{
    margin: 0.5rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr)
}

.soft-tile{
    height: 100%;
    border: 2px solid var(--primary-text-font);
}

.dark-tile{
    position: absolute;
    left: 0.8em;
    height: 20px;
    width: 20px;
    background: red;
}

a{
    height: 100%;
    text-align: center;
    align-content: center;
    display: block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/*
    Styling
*/
.num-sections{
    border-radius: 20px;
}

header{
    border: 2px solid var(--primary-text-font);
    background: var(--primary-background);
}

h1{
    color: var(--primary-text-font);
}

.pedal-wrapper{
    color: var(--secondary-text-font);
}

a{
    border: 1px solid var(--secondary-text-font);
}