//Importing color pallete's variables
@import '../../ColorTheme.scss';

//Mixins section
  /*Mixin for side container*/
  @mixin addProperty($color){
    padding-left: 1rem; /* adding margin to side containers*/
    padding-right: 1rem; /* adding margin to side containers*/
    padding-top: 1.5rem;
    p{
      font-weight: bold;
      color: $color;
      font-size: 0.8rem;
      padding-bottom: 0.4rem;
    }
  }

.menu-left {
    font-family: "PlutonGeneral", Fallback, sans-serif;
    background: $primary-dark;
    @include addProperty($primary-white);

  
    ul {
      color: $primary-blue;
      list-style-type: none;
      padding: 0%;
      font-size:0.8rem;

      li{
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
      }

      button{
        margin-left: 0.5rem;
        background: none;
        border:none;
      }

      button:hover{
        color: white;
      }

      .element {
        color: $primary-blue;
      }

      .selected{
        color:white;
        text-decoration-color: white;
      }
    }
  }

  