//Importing color pallete's variables
@import "../../ColorTheme.scss";

//SCSS SECTION
.book {
  display: flex;
  flex-basis: 18%;
  margin-left: auto;
  flex-flow: column;
  overflow: hidden;

  .image-container{
    flex-basis: 83%;
    position: relative;
    z-index: 1;
    .img-ref{
      position: relative;
      width: 100%;
      height: auto;
      z-index: 10000;
    }
  }

  .book-title {
    font-family: "TitlePluton", Fallback, sans-serif;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
    font-size: 0.9rem;
    color: $secondary-dark;
  }

  .rating-container{
    align-self: flex-start;
    justify-self: flex-start;
  }
}