/*
  FONTS
*/
@font-face{
  font-family: 'TitlePluton';
  src: url('../fonts/HVD Fonts - PlutoSansMedium.otf');
}

@font-face{
  font-family: "PlutonGeneral";
  src: url('../fonts/HVD Fonts - PlutoSansCondMedium.otf');
}


/*
  Section for color pallete variables
*/
:root {
    --primary-white:rgba(250, 252, 254, 1);
    --secondary-white:rgba(243, 226, 188, 0.2);
    --third-white: rgb(240, 240, 240);

    --primary-blue:rgb(96, 181, 214);
    --letters-blue-darker:rgba(47, 151, 242, 1);
    --secondary-blue:rgba(47, 151, 242, 1);
    
    --primary-dark:rgba(4, 29, 41, 1);
    --primary-grey:rgba(189, 191, 191, 1);

    --line-gradient: linear-gradient(white 0%,white 10%,black 10%, black 80%,white 80%);
  }
  /*
    Section of mixings
  */
  /*Mixing*/
  @mixin  transformUser(){
    background: purple;
    margin: 0;
    padding: 0;
  }

  /*Mixin for side container*/
  @mixin addProperty($color){
    padding: 0.5rem 0.5rem; /* adding margin to side containers*/

    p{
      color: $color;
      font-size: 0.9rem;
    }
  }

  * {
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100vh;
    width: 100vw;
  }
  
  .wrapper {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 20fr;
  }
  
  .header{
    .search-bar {
      font-family: "TitlePluton", Fallback, sans-serif;
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      border-right: 5px solid var(--line-gradient);
      background: var(--secondary-white);
      padding-left: 0.5rem;
      padding-right: 0.5rem;

      .title-level-1{
        font-size: 1rem;
        justify-content: center;
        text-align: center;
      }

    }

    .user{
      background: var(--secondary-white);
      display: flex;
      align-content: space-between;
      justify-content: space-between;

      i{
        @include transformUser();
      }
      .profile-name{
        font-size: 0.8rem;
        @include transformUser();
      }

      .profile-container .profile-pic{
        height: 40px;
        width: 40px;
        border-radius: 20px;
      }
    }
  }

  .header, .section-1 {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
  }

  .menu-box{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  /*Styling according to design*/
  .menu-left {
    font-family: "PlutonGeneral", Fallback, sans-serif;
    background: var(--primary-dark);
    font-size: 0.7rem;
    @include addProperty(var(--primary-white));

    p {
      font-size: 0.5rem;
      padding-bottom: 0.4rem;
      color: var(--primary-white);
    }
  
    ul {
      color: var(--primary-blue);
      list-style-type: none;
      padding: 0%;
      text-decoration: none;

      li{
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
      }

      a{
        margin-left: 0.5rem;
      }

      a:hover{
        text-decoration: none;
        color: white;
      }
    }
  }

  .menu-right {
    background: var(--primary-dark);
    color: var(--primary-grey);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.5rem;

    @include addProperty(var(--primary-grey));

    ol{
      overflow: hidden;
      list-style-type: none;
    
      
    }

    li{
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }
  }
  
  .menu-left a, .menu-right a {
    text-decoration: none;
    color: inherit;
  }
  
  .element {
    font: bold;
    color: var(--primary-blue);
  }
  
  .logo {
    height: 100%;
  }
  
  .user h1 {
    font-size: 2vw;
  }
  
  .ddmenu {
    display: none;
  }
  
  .content {
    display: flex;
    justify-content: center;
    height: 100%;
    background: var(--third-white);
  }
  
  .CentralComponent {
    display: flex;
    justify-content: center;
    width: 80%;
  }
  
  .SideComponent {
    display: flex;
    width: 20%;
  }
  
  .SideMenu {
    display: grid;
    color: rgba(110, 193, 228, 0.9);
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(0, 0, 0, 0.664);
  
    > dl > td {
      color: white;
    }
  }
  
  /* CSS COMPONENT FOR SEARCH BOX */
  
  input[type="text"] {
    border: 2px solid var(--primary-blue);
    border-radius: 40px;
    margin: 8px 0;
    outline: none;
    box-sizing: border-box;
    padding: 8px;
    transition: 0.1s;
    height: 2rem;
    font-size: 0.7rem;
    &:focus {
      border-color: var(--primary-blue);
      box-shadow: 0 0 8px 0 var(--primary-blue);
    }
  }
  
  .inputWithIcon {
    input[type="text"] {
      padding-left: 40px;
    }
    position: relative;
  
    i {
      position: absolute;
      left: 0;
      top: 8px;
      padding: 9px 8px;
      color: #aaa;
      transition: 0.3s;
    }
  
    input[type="text"]:focus + i {
      color: var(--primary-blue);
    }
  }