/*
  FONTS
*/
@font-face{
  font-family: 'TitlePluton';
  src: url('../fonts/HVD Fonts - PlutoSansMedium.otf');
}

@font-face{
  font-family: 'PlutonGeneral';
  src: url('../fonts/HVD Fonts - PlutoSansCondMedium.otf');
}

@font-face{
  font-family: 'SecondTitlePluton';
  src: url('../fonts/HVD Fonts - PlutoSansCondExLight.otf');
}

/*
  Section for color pallete variables
*/
:root {
    --primary-white:rgba(250, 252, 254, 1);
    --secondary-white:rgb(247, 243, 235);
    --third-white: rgb(240, 240, 240);

    --primary-blue:rgb(96, 181, 214);
    --letters-blue-darker:rgba(47, 151, 242, 1);
    --secondary-blue:rgba(47, 151, 242, 1);
    
    --primary-dark:rgba(4, 29, 41, 1);
    --primary-grey:rgb(160, 158, 153);
    --secondary-grey: rgb(126, 124, 121);

    --line-gradient: linear-gradient(white 0%,white 10%,black 10%, black 80%,white 80%);
  }
  /*
    Section of mixings
  */
  /*Mixing*/
  @mixin  transformUser(){
    margin: 0;
    padding: 0;
  }

  /*Mixin for side container*/
  @mixin addProperty($color){
    padding-left: 1rem; /* adding margin to side containers*/
    padding-right: 1rem; /* adding margin to side containers*/
    padding-top: 1.5rem;
    p{
      font-weight: bold;
      color: $color;
      font-size: 0.7rem;
      padding-bottom: 0.4rem;
    }
  }

  * {
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100vh;
    width: 100vw;
  }
  
  .wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  
  .header{
    box-sizing: border-box;
    flex-basis: 5%;
    
    .search-bar {
      font-family: "TitlePluton", Fallback, sans-serif;
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      border-bottom: 1px solid var(--primary-blue);
      padding-left: 1rem;
      padding-right: 1rem;
      background: var(--secondary-white);

      p{
        font-size: 1.5rem;
      }
    }
    
    .borderx{
      background: linear-gradient(90deg, rgba(0,0,0,0.0), white), linear-gradient(to bottom, rgb(247, 243, 235) 20%, rgba(68, 68, 68,0.5) 20%, rgba(68, 68, 68, 0.5)  80%, rgb(247, 243, 235) 80%) ;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .user{
      background: var(--secondary-white);
      height: 99%;
      width: 99%;
      position: relative;
      display: inline-block;
      align-items: center;
      justify-content: center;
      
      .user-box{
        display: flex;
        align-content: center;
        justify-content: center;
      }

      .user-box:hover{
        border: 1px solid var(--primary-grey);
        padding: 0.3em;
      }

      #user-name{
        align-self: center;
        font-size: 0.9rem;
      }

      i{
        align-self: center;
        padding-left: 0.5em;
        padding-right: 0.5em;
      }

      .profile-container .profile-pic{
        padding-right: 0.5em;
        height: 1.5em;
        width: 1.5em;
        border-radius: 20px;
      }
    
      .ddmenu{
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
      }
    }
  }

  /*Style that guarantees dropdown menu*/
  .user:hover .ddmenu {
    display: block;
  }

  .section-1{
    box-sizing: border-box;
    flex-basis: 95%;
  }

  .header, .section-1 {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
  }

  .menu-box{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .menu-left {
    font-family: "PlutonGeneral", Fallback, sans-serif;
    background: var(--primary-dark);
    font-size: 0.7rem;
    @include addProperty(var(--primary-white));

  
    ul {
      color: var(--primary-blue);
      list-style-type: none;
      padding: 0%;
      text-decoration: none;

      li{
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
      }

      a{
        margin-left: 0.5rem;
      }

      a:hover{
        text-decoration: none;
        color: white;
      }
    }
  }

  .menu-right {
    background: var(--primary-dark);
    color: var(--primary-grey);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.7rem;

    @include addProperty(var(--primary-grey));

    ol{
      overflow: hidden;
    }

    li{
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;
    }
  }
  
  .menu-left a, .menu-right a {
    text-decoration: none;
    color: inherit;
  }
  
  .element {
    color: var(--primary-blue);
  }
  
  .logo {
    height: 100%;
  }
  
  .content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--third-white);
    flex-flow: column;

    .listing-manipulator{
      box-sizing: border-box;
      flex-basis: 7%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .content-filter-box a{
        color: var(--primary-grey);
      }
      
      h2{
        font-size: 1.1rem;
        font-family: 'SecondTitlePluton', Fallback, sans-serif;
        font-weight: normal;
        color: var(--secondary-grey);
      }

      p{
        text-decoration: none;
        color: var(--primary-grey);
      }
    }

    .books{
      display: flex;
      flex-grow: 1;
      width: 100%;
      margin: 1.5rem;
      justify-content: space-around;
      align-content: flex-start;
      background: red;

      .book{
        flex-basis: 15%;
        background: red;
      }
    }
  }
  
  .CentralComponent {
    display: flex;
    justify-content: center;
    width: 80%;
  }
  
  /* CSS COMPONENT FOR SEARCH BOX */
  
  input[type="text"] {
    border: 2px solid var(--primary-blue);
    border-radius: 40px;
    margin: 8px 0;
    outline: none;
    box-sizing: border-box;
    padding: 8px;
    transition: 0.1s;
    height: 2rem;
    font-size: 0.7rem;
    &:focus {
      border-color: var(--primary-blue);
      box-shadow: 0 0 8px 0 var(--primary-blue);
    }
  }
  
  .inputWithIcon {
    input[type="text"] {
      padding-left: 40px;
    }
    position: relative;
  
    i {
      position: absolute;
      left: 0;
      top: 8px;
      padding: 9px 8px;
      color: #aaa;
      transition: 0.3s;
    }
  
    input[type="text"]:focus + i {
      color: var(--primary-blue);
    }
  }

  @media (max-width: 750px){
    .content{
      justify-content: flex-start;
    }

    .books{
      flex-wrap: wrap;
    }
  }