//Color pallete section
$primary-white:rgba(250, 252, 254, 1);
$secondary-white:rgb(247, 243, 235);
$third-white: rgb(240, 240, 240);

$primary-blue:rgb(96, 181, 214);
$letters-blue-darker:rgba(47, 151, 242, 1);
$secondary-blue:rgba(47, 151, 242, 1);

$primary-dark:rgba(4, 29, 41, 1);
$secondary-dark: rgba(63, 63, 63, 0.9);
$primary-grey:rgb(160, 158, 153);
$secondary-grey: rgb(126, 124, 121);

$line-gradient: linear-gradient(white 0%,white 10%,black 10%, black 80%,white 80%);

//Mixins section
  /*Mixin for side container*/
  @mixin addProperty($color){
    padding-left: 1rem; /* adding margin to side containers*/
    padding-right: 1rem; /* adding margin to side containers*/
    padding-top: 1.5rem;
    p{
      font-weight: bold;
      color: $color;
      font-size: 0.7rem;
      padding-bottom: 0.4rem;
    }
  }

.menu-left {
    font-family: "PlutonGeneral", Fallback, sans-serif;
    background: $primary-dark;
    font-size: 0.7rem;
    @include addProperty($primary-white);

  
    ul {
      color: $primary-blue;
      list-style-type: none;
      padding: 0%;
      text-decoration: none;

      li{
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
      }

      a{
        margin-left: 0.5rem;
      }

      a:hover{
        text-decoration: none;
        color: white;
      }
    }
  }

  .menu-left a{
    text-decoration: none;
    color: inherit;
  }